@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;
}

.header {
  margin: auto;
  width: 80%;
  height: 10vh;
  padding: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 6rem; /* default: 2rem; */
}

h1 {
  font-size: 8rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

h1, p {
  margin-bottom: 1rem;
}

a {
  color: #0bd;
}

.btn {
  background: #0bd;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
